* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(180deg, purple, yellow), url("img/art-close-up-decor-279415.jpg");
  background-blend-mode: screen;
  background-size: cover;
}

.list {
  position: relative;
  width: 100%;
  max-width: 380px;
  height: 60vh;
  background: linear-gradient(180deg, purple, yellow);
  opacity: .9;
  border-radius: 16px;
  overflow-x: hidden;
  box-shadow: 0px 0px 20px grey;
}

input {
  background-color: white;
  border-bottom: 2px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
}

h1, h3 {
  text-align: center;
  color: white;
  text-shadow: 2px 3px 2px black;
}




