@import url("https://fonts.googleapis.com/css?family=Amatic+SC&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

div {
  background-color: antiquewhite;
  background-size: cover;
  background-image: url("img/art-close-up-decor-279415.jpg");
}

input {
  background-color: antiquewhite;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
}

h1 {
  text-align: center;
  border: 1px solid black;
  text-shadow: 1px 1px dodgerblue;
  background-color: aquamarine;
  font-family: "Amatic SC",
  cursive;
}

h3 {
  font-family: "Amatic SC",
  cursive;
  text-align: center;
}


button {
  border: 1px solid;
  background-color: aqua;
  box-shadow: 1px 2px dodgerblue;
  color: black;
  border-radius: 12px;
}

